body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  overflow-x:hidden;
}

 .page {
  text-align:start; 
  margin-bottom:30px; 
  font-size:32px; 
  padding-left:10px;
 }
 .page .com {
  font-weight:100;
 }

.container {
  padding:30px;
  overflow-x:hidden;
}

.cWrapper {
  width:281px; 
  margin:0 auto; 
  font-family: sans-serif;
}

.btn-animation {
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
  .btn-animation::before,
  .btn-animation::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
  .btn-animation:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 300ms ease;
  }
  .btn-animation:hover::after {
    left: 100%;
  }
  .btn-animation:active {
    top:2.5px;
  }

  .to {
    display:flex;
  }

  .to .inner {
    margin-left: auto;
  }

  .to span {
    padding:1.5px;
  }

  .resultContainer {
    display:none;
    position:relative;
  }

  .resultContainer:before {
    content:"결과";
    position:absolute;
    top:-34px;
    left:1px;
    background-color:black;
    color:white;
    border-radius:15px 15px 0 0;
    padding:5px 30px;
  }


  .copyBox {
    display:flex;
    position:relative;
  }

  .copyBox button {
    padding:3px 7px 5px 8px;
    background:#0D6DFD;
    color:#fff;
    border:none;
    outline:none;
    border-radius:10px;
    cursor:pointer;

    margin-left: auto;
  }

  .copyBox button:active {
    background:#66A2FD;
  }

  .copyBox button:before {
    content:"Copied";
    position:absolute;
    top:9px;
    right:40px;
    background-color: #0D6DFD;
    padding:6px 8px;
    border-radius: 10px;
    font-size:12px;
    display:none;
  }

  .copyBox button:after {
    content:"";
    position:absolute;
    top:20px;
    right:38px;
    width:8px;
    height:8px;
    background-color: #0D6DFD;
    transform:rotate(45deg);
    display:none;
  }

  .copyBox.active button:before,
  .copyBox.active button:after {
    display:block;
  }

  .line {
    position:relative;
  }

  .line::after {
    content:attr(data-kor);
    /* content:"일만오천삼백원"; */
    position:absolute;
    top: 3.5rem;;
    right:1.2rem;
    font-size:14px;
    font-weight:bold;
    display:none;
  }
  .line.active::after {
    display:block;
  }

  .line::before {
    /* content:attr(data-kor); */
    content:"원";
    position:absolute;
    top: 1.5rem;
    right:-0.2rem;
    font-weight:lighter;
  }

  .line .colon {
    width:27px;
  }

  .line .cName {
    width:100px
  }

  .line .cValue {
    width:130px
  }

  .cTitle {
    position:relative;
    cursor:pointer;
    display:block;
    font-size:20px;
    color:white;
    padding:8px 15px;
    border-radius:10px;
    text-decoration: none;
  }
  .cTitle::after {
    content:"reset";
    position:absolute;
    top: 17.7px;
    right:-50px;
    color:black;
    font-weight:300;
    font-size:16px;
    font-family: sans-serif;
    border-bottom:3px solid black;
    width:60px;
    text-align: end;
    padding-right:3px;
  }
  .cTitle:link, .cTitle:visited, .cTitle:hover {
    text-decoration: none;
    color:white;
  }